﻿@page
@model RazorAndData.Pages.PhotoPageModel
@{
    ViewData["Title"] = "PhotoPage";
}


@foreach (var photo in Model.Photos)
{
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
        </div>
        <h2>@photo.title</h2>
        <p>@photo.url</p>
        <a href="#" class="icon-link">
            Call to action
            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
    </div>
    <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h2>@photo.title</h2>
        <p>@photo.url</p>
        <a href="#" class="icon-link">
            Call to action
            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
    </div>
    <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <h2>@photo.title</h2>
        <p>@photo.url</p>
        <a href="#" class="icon-link">
            Call to action
            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
    </div>
</div>
}