﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>Hello</h1>
<p>This is Paragraph</p>
<img width="500px" src="https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/HB4AT3D3IMI6TMPTWIZ74WAR54.jpg" />
<p> This is a <a href="https://www.google.com">Google Link</a>.</p>

<ul>
    <li> HelloWorld 1</li>
    <li> HelloWorld 2</li>
</ul>

<ol>
    <li> HelloWorld 1</li>
    <li> HelloWorld 2</li>
</ol>


<form>
    <input type="text" /><br />
    <input type="radio" /> This is a Test<br />
</form>
